
@{
    ViewData["Title"] = "Trang chu";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

@model BatDongSanId.Areas.Client.Models.ListViewModels.TrangChuListViewModel

@{
    ViewData["Title"] = "Trang chủ";
}
<section class="hotel-rooms spad">
    <div class="container">
        <div class="mystyle-tieudeloaitin">VIP</div>
        <hr />
        <div class="row">
            @foreach (var tin in Model.TinVIPViewModels)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="room-items">
                        <div class="room-img set-bg" data-setbg="@Html.Raw(tin.HinhAnh)">
                            <a asp-controller="QuanLyTaiKhoan" asp-action="LuuTin" class="room-content">
                                <i class="flaticon-heart"></i>
                            </a>
                        </div>
                        <div class="room-text">
                            <div class="room-details">
                                <div class="room-title">
                                    <h5>@Html.Raw(tin.MoTa)</h5>
                                    <a href="#">
                                        <i class="flaticon-placeholder"></i> <span>@Html.Raw(tin.QuanHuyen) | @Html.Raw(tin.TinhThanh)</span>
                                    </a>
                                    <br />
                                    <a href="#" class="large-width">
                                        <i class="flaticon-timer"></i><span>@Html.Raw(tin.NgayDang)</span>
                                    </a>
                                </div>
                            </div>
                            <div class="room-features">
                                <div class="room-info">
                                    <div class="baths">
                                        <p>Người đăng</p>
                                        @*<img src="~/Client/img/rooms/bath.png" alt="">*@
                                        <span>@Html.Raw(tin.NguoiDang)</span>
                                    </div>
                                    <div class="size">
                                        <p>Diện tích</p>
                                        @*<img src="~/Client/img/rooms/size.png" alt="">*@
                                        <i class="flaticon-bath"></i>
                                        <span>@Html.Raw(tin.DienTich) m2</span>
                                    </div>
                                    <div class="beds">
                                        <p>Hướng</p>
                                        @*<img src="~/Client/img/rooms/bed.png" alt="">*@
                                        <span>@Html.Raw(tin.Huong)</span>
                                    </div>
                                    <div class="garage">
                                        <p>Xác thực</p>
                                        @*<img src="~/Client/img/rooms/garage.png" alt="">*@
                                        <span>1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="room-price">
                                <p>@Html.Raw(tin.LoaiTin)</p>
                                <span>@Html.Raw(tin.Gia)</span> VNĐ
                            </div>
                            <a href="#" class="site-btn btn-line">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="container">
        <div class="mystyle-tieudeloaitin">HOT</div>
        <hr />
        <div class="row">
            @foreach (var tin in Model.TinHOTViewModels)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="room-items">
                        <div class="room-img set-bg" data-setbg="@Html.Raw(tin.HinhAnh)">
                            <a asp-controller="QuanLyTaiKhoan" asp-action="LuuTin" class="room-content">
                                <i class="flaticon-heart"></i>
                            </a>
                        </div>
                        <div class="room-text">
                            <div class="room-details">
                                <div class="room-title">
                                    <h5>@Html.Raw(tin.MoTa)</h5>
                                    <a href="#">
                                        <i class="flaticon-placeholder"></i> <span>@Html.Raw(tin.QuanHuyen) | @Html.Raw(tin.TinhThanh)</span>
                                    </a>
                                    <a href="#" class="large-width">
                                        <i class="flaticon-timer"></i><span>@Html.Raw(tin.NgayDang)</span>
                                    </a>
                                </div>
                            </div>
                            <div class="room-features">
                                <div class="room-info">
                                    <div class="size">
                                        <p>Diện tích</p>
                                        <img src="~/Client/img/rooms/size.png" alt="">
                                        <i class="flaticon-bath"></i>
                                        <span>@Html.Raw(tin.DienTich) m2</span>
                                    </div>
                                    <div class="beds">
                                        <p>Beds</p>
                                        <img src="~/Client/img/rooms/bed.png" alt="">
                                        <span>9</span>
                                    </div>
                                    <div class="baths">
                                        <p>Baths</p>
                                        <img src="~/Client/img/rooms/bath.png" alt="">
                                        <span>2</span>
                                    </div>
                                    <div class="garage">
                                        <p>Garage</p>
                                        <img src="~/Client/img/rooms/garage.png" alt="">
                                        <span>1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="room-price">
                                <p>@Html.Raw(tin.LoaiTin)</p>
                                <span>@Html.Raw(tin.Gia)</span> VNĐ
                            </div>
                            <a href="#" class="site-btn btn-line">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="container">
        <div class="mystyle-tieudeloaitin">Tin khác</div>
        <hr />
        <div class="row">
            @foreach (var tin in Model.TinThuongViewModels)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="room-items">
                        <div class="room-img set-bg" data-setbg="@Html.Raw(tin.HinhAnh)">
                            <a asp-controller="QuanLyTaiKhoan" asp-action="LuuTin" class="room-content">
                                <i class="flaticon-heart"></i>
                            </a>
                        </div>
                        <div class="room-text">
                            <div class="room-details">
                                <div class="room-title">
                                    <h5>@Html.Raw(tin.MoTa)</h5>
                                    <a href="#">
                                        <i class="flaticon-placeholder"></i> <span>@Html.Raw(tin.QuanHuyen) | @Html.Raw(tin.TinhThanh)</span>
                                    </a>
                                    <a href="#" class="large-width">
                                        <i class="flaticon-timer"></i><span>@Html.Raw(tin.NgayDang)</span>
                                    </a>
                                </div>
                            </div>
                            <div class="room-features">
                                <div class="room-info">
                                    <div class="size">
                                        <p>Diện tích</p>
                                        <img src="~/Client/img/rooms/size.png" alt="">
                                        <i class="flaticon-bath"></i>
                                        <span>@Html.Raw(tin.DienTich) m2</span>
                                    </div>
                                    <div class="beds">
                                        <p>Beds</p>
                                        <img src="~/Client/img/rooms/bed.png" alt="">
                                        <span>9</span>
                                    </div>
                                    <div class="baths">
                                        <p>Baths</p>
                                        <img src="~/Client/img/rooms/bath.png" alt="">
                                        <span>2</span>
                                    </div>
                                    <div class="garage">
                                        <p>Garage</p>
                                        <img src="~/Client/img/rooms/garage.png" alt="">
                                        <span>1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="room-price">
                                <p>@Html.Raw(tin.LoaiTin)</p>
                                <span>@Html.Raw(tin.Gia)</span> VNĐ
                            </div>
                            <a href="#" class="site-btn btn-line">Xem chi tiết</a>
                        </div>
                    </div>
                </div>            
            }
        </div>
    </div>
</section>
