
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Tin bán";
}
@model IEnumerable<BatDongSan.Models.ViewModels.TinBanViewModel>
<div class="mystyle-maintin">
    <div class="mystyle-tin">
        @foreach (var tin in Model)
        {
            <div class="mystyle-goitin">
                <div></div>
                <div class="mystyle-ngaydangtin">@Html.DisplayFor(modelItem => tin.NgayDang)</div>
                <div class="mystyle-tieudetin">@Html.DisplayFor(modelItem => tin.MoTa)</div>
                <div class="mystyle-diadiemtin">@Html.DisplayFor(modelItem => tin.QuanHuyen)<span> - </span>@Html.DisplayFor(modelItem => tin.TinhThanh)</div>
                <div class="mystyle-giatin">Giá: <span>@Html.DisplayFor(modelItem => tin.Gia)</span>VNĐ | Diện tích: <span>@Html.DisplayFor(modelItem => tin.DienTich)</span>m2 | <span>Hướng: </span>@Html.Raw(tin.Huong)</div>
            </div>
        }
    </div>
</div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0&appId=171275584290364&autoLogAppEvents=1"></script>

<div class="fb-comments" data-href="https://localhost:44319" data-numposts="5" data-width=""></div>
