@model IEnumerable<BatDongSanId.Areas.Client.Models.ViewModels.TinBDSViewModel>
@{
    ViewData["Title"] = "Tin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Tin" method="get">
            <div class="row">
                <div class="col-md-8">
                    <select class="form-control" name="loaiTin">
                        <option value="5">Tất cả</option>
                        <option value="1">Cần bán</option>
                        <option value="2">Cho thuê</option>
                        <option value="3">Cần mua</option>
                        <option value="4">Cần thuê</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <input class="btn btn-primary" style="margin-top:0px;" type="submit" value="Lọc" />
                </div>
            </div>
        </form>
    </div>
    @*<div class="col-md-4">
        <form asp-action="Tin" method="get">
            <div class="row">
                <div class="col-md-8">
                    <select class="form-control" name="flag">
                        <option value="0">Tất cả</option>
                        <option value="1">Cần bán</option>
                        <option value="2">Cho thuê</option>
                        <option value="3">Cần mua</option>
                        <option value="4">Cần thuê</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <input class="btn btn-primary" style="margin-top:0px;" type="submit" value="Lọc" />
                </div>
            </div>
        </form>
    </div>
    
    <div class="col-md-4">
        <form asp-action="Tin" method="get">
            <div class="row">
                <div class="col-md-8">
                    <select class="form-control" name="flag">
                        <option value="0">Tất cả</option>
                        <option value="1">Cần bán</option>
                        <option value="2">Cho thuê</option>
                        <option value="3">Cần mua</option>
                        <option value="4">Cần thuê</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <input class="btn btn-primary" style="margin-top:0px;" type="submit" value="Lọc" />
                </div>
            </div>
        </form>
    </div>*@
</div>

<hr />

<form asp-action="Tin" method="get">
    <div class="row">
        <div class="col-md-4">
            <select class="form-control" name="option">
                <option value="1">Tìm theo ID</option>
                <option value="2">Tìm theo ngày đăng</option>
                <option value="3">Tìm theo người đăng</option>
                <option value="4">Tìm theo mô tả</option>
            </select>
        </div>
        <div class="col-md-4 form-group">
            <input type="text" class="form-control" name="searchString" placeholder="Nhập thông tin tìm kiếm" />
        </div>
        <div class="col-md-4">
            <input class="btn btn-primary" style="margin-top:0px;" type="submit" value="Tìm" />
        </div>
    </div>
</form>
<table class="table table-bordered">
    <thead style="background-color:#000257;color:white;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiTin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoiTin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiDang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TieuDe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PheDuyet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LoaiTin)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GoiTin)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NgayDang)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NguoiDang)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TieuDe)
    </td>
    @if(item.PheDuyet == true) {
                    <td>Đã duyệt</td>
                }
                else {
                    <td>Chưa duyệt</td>
                }
    <td>
        <a asp-action="ChiTietTin" asp-route-id="@item.ID">Chi tiết</a> |
        <a class="khoa"  data="@item.ID">Khoá</a>
    </td>
</tr>}
    </tbody>
</table>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("a.khoa").click(function (event) {
            event.preventDefault();
            event.stopPropagation();
            var id = $(this).attr("data");
            var text = "";
            //console.log(this);
            //alert(tin);
            if (confirm("Khóa tài khoản này?")) {
                $.ajax({
                    url: '@Url.Action("Khoa", "TaiKhoan")',
                    data: { 'id': id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        text = "Đã khóa";
                    }
                });
                $(this).hide("slow").finish();
                $(this).show("slow").text(text);
                return;
            }
            else {
                return;
            }
        });
    })
</script>

