@model IEnumerable<BatDongSanId.Areas.Client.Models.ViewModels.TinBDSViewModel>
@{
    ViewData["Title"] = "Tin đã lưu";
    Layout = "~/Areas/Client/Views/Shared/_TaiKhoanLayout.cshtml";
}
@using Microsoft.AspNetCore.Http;
<div class="container card @*col-lg-10 h-75*@ @*justify-content-center*@ align-items-center" style="padding:0px;">
    <div class="row card-header col-lg-12">Tin đã lưu</div>
    <div class="row card-body">
        @foreach (var tin in Model)
        {<div class="col-lg-12 col-xl-12">
             <div class="room-items">
                 <div style="margin: 5px;">
                     <a asp-controller="Dm" asp-action="ChiTietTinBDS" asp-route-id="@Html.Raw(tin.ID)" style="font-size:13pt;">@Html.Raw(tin.TieuDe)</a>
                 </div>

                 <div class="row" style="margin:5px">
                     <div class="room-img set-bg col-md-3" data-setbg="@Html.Raw(tin.HinhAnh)">
                         <form>
                             <button id="@Html.Raw(tin.HinhAnh)" class="room-content border-0" style="background-color: transparent" data="@tin.ID">
                                 @*<i class="flaticon-heart"></i>*@
                             </button>
                         </form>
                     </div>
                     <div class="room-text col-md-9" style="padding-top:0px;padding-bottom:0px;">
                         <div class="room-details" style="padding-bottom:0px;">
                             <div class="room-title">
                                 <a href="#">
                                     <i class="flaticon-placeholder"></i> <span style="font-size:11pt;">@Html.Raw(tin.QuanHuyen) | @Html.Raw(tin.TinhThanh)</span>
                                 </a>
                                 <br />
                                 <a href="#" class="large-width">
                                     <i class="flaticon-timer"></i><span style="font-size:11pt;">@Html.Raw(tin.NgayDang)</span>
                                 </a>
                             </div>
                         </div>
                         <div class="room-features" style="padding-bottom:0px;margin-bottom:0px;">
                             <div class="room-info" style="padding-right: 0px;">
                                 <div class="size" style="margin-right: 0px;">
                                     @if (Html.Raw(tin.XacThuc).ToString() == "Xác thực")
                                     {<p style="font-size:11pt;">DT: @Html.Raw(tin.DienTich) m2 | Hướng:@Html.Raw(tin.Huong) | Xác thực</p>}
                                 else
                                 {<p style="font-size:11pt;">DT: @Html.Raw(tin.DienTich) m2 | Hướng:@Html.Raw(tin.Huong) | Chưa xác thực</p>}
                                 </div>
                                 <br />
                                 <div class="size">
                                     <p style="font-size:11pt;">@tin.LoaiTin : @tin.Gia | Liên hệ: @tin.LienHe</p>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <a asp-action="" class="BoLuuID" data="@tin.ID">Bỏ lưu</a>
                 </div>
             </div>
            </div>}
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("a.BoLuuID").click(function (event) {
            event.preventDefault();
            event.stopPropagation();
            //var btn = $("button.room-content");
            var tin = $(this).attr("data");
            var user = @Context.Session.GetInt32("userID");
            var text = "";
            $.ajax({
                url: '@Url.Action("BoLuuTin", "QuanLyTaiKhoan")',
                data: { 'idUser': user, 'idTin': tin },
                type: "post",
                async: false,
                success: function (result) {
                    text = "Đã bỏ lưu";
                }
            });
            if (text != "") {
                $(this).text(text);
            }
            return;
        });
    })
</script>