@model BatDongSanId.ViewModels.TaiKhoanViewModel

@{ ViewData["Title"] = "Trang quản trị";
                Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }


<div class="row justify-content-center" style="margin-top: 50px;">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-5">
                <img src="@Html.Raw(Model.AnhDaiDienUrl)" style="border:1px solid black;width: 100%; max-width: 300px" />
            </div>
            <div class="col-lg-7" style="border-left: 1px solid #808080;">
                <table class="table table-hover">
                    <tbody>
                        <tr style="font-size: 13pt; border-bottom: 1px solid #D3D3D3">
                            <th scope="row">Tài khoản:</th>
                            <td>@Html.Raw(Model.Ten)</td>
                        </tr>
                        <tr>
                            <th scope="row">Loại tài khoản:</th>
                            <td>@Html.Raw(Model.LoaiTaiKhoan)</td>
                        </tr>
                        <tr>
                            <th scope="row">Số điện thoại:</th>
                            <td colspan="2">@Html.Raw(Model.SoDienThoai)</td>
                        </tr>
                        <tr>
                            <th scope="row">Email/ Tài khoản:</th>
                            <td>@Html.Raw(Model.Email)</td>
                        </tr>
                        <tr>
                            <th scope="row">Địa chỉ:</th>
                            <td>@Html.Raw(Model.DiaChi)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>