@model BatDongSanId.Areas.Client.Models.ListViewModels.ChiTietBDSListViewModel

@{
    ViewData["Title"] = "ChiTietTinBDS";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}


@*<style>
body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
</style>*@



<div class="container">
    <h4>TinBDSViewModel</h4>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-4">
                    <img src="@Html.Raw(Model.taiKhoanViewModel.AnhDaiDienUrl)" style="width: 100%; max-width: 300px" />
                </div>
                <div class="col-lg-8">
                    <div>
                        <p>@Html.Raw(Model.taiKhoanViewModel.Ten)</p>
                    </div>
                    <div>
                        <p>SĐT: @Html.Raw(Model.taiKhoanViewModel.SoDienThoai)</p>
                    </div>
                    <div>
                        <p>Email: @Html.Raw(Model.taiKhoanViewModel.Email)</p>
                    </div>
                    <div>
                        <p>ĐC: @Html.Raw(Model.taiKhoanViewModel.DiaChi)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" style="border-left:dashed 1px;">
            <div class="row" style="padding-left: 20px; ">
                <div>
                    <i class="flaticon-timer">@Html.Raw(Model.tinBDSViewModel.NgayDang)</i>
                    <i class="flaticon-placeholder">@Html.Raw(Model.tinBDSViewModel.QuanHuyen) | @Html.Raw(Model.tinBDSViewModel.TinhThanh)</i>
                </div>
                <div class="room-info">
                    <div>
                        <p>Diện tích: @Html.Raw(Model.tinBDSViewModel.DienTich) m2 | Hướng:@Html.Raw(Model.tinBDSViewModel.Huong) |</p>
                    </div>
                    <div>
                        @if (Html.Raw(Model.tinBDSViewModel.XacThuc).ToString() == "Xác thực")
                        {<p>Bất động sản đã được xác thực</p>}
                        else
                        {<p>Bất động sản chưa được xác thực</p>}
                    </div>
                    <div>
                        <p>@Html.Raw(Model.tinBDSViewModel.LoaiTin) : @Html.Raw(Model.tinBDSViewModel.Gia)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
        <p>@Html.Raw(Model.tinBDSViewModel.TieuDe)</p>
    </div>
    <div class="row">
        <p>@Html.Raw(Model.tinBDSViewModel.MoTa)</p>
    </div>
    <div class="row">
        @foreach (var anh in Model.hinhAnhs)
        {
            <div class="col-lg-4" style="padding-bottom:30px;">
                <img src="@anh" style="width: 100%; max-width: 300px" />
            </div>
        }
    </div>
    <!-- The Modal -->
    @*<div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>*@
</div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0&appId=171275584290364&autoLogAppEvents=1"></script>

<div class="fb-comments" data-href="https://localhost:44319/Dm/ChiTietTinBDS/@Model.tinBDSViewModel.ID" data-numposts="10" data-width=""></div>


@*<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>*@