@model BatDongSanId.Areas.Client.Models.ListViewModels.ChiTietBDSListViewModel

@{ ViewData["Title"] = "ChiTietTinBDS";
                Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml"; }

<style>
    .imgStyle
    {
        height: 100px;
        width: 100px;
        border: 1px solid grey;
    }
</style>

<div class="container">
    <h4>TinBDSViewModel</h4>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-4">
                    <img src="@Html.Raw(Model.taiKhoanViewModel.AnhDaiDienUrl)" style="width: 100%; max-width: 300px" />
                </div>
                <div class="col-lg-8">
                    <div>
                        <p>@Html.Raw(Model.taiKhoanViewModel.Ten)</p>
                    </div>
                    <div>
                        <p>SĐT: @Html.Raw(Model.taiKhoanViewModel.SoDienThoai)</p>
                    </div>
                    <div>
                        <p>Email: @Html.Raw(Model.taiKhoanViewModel.Email)</p>
                    </div>
                    <div>
                        <p>ĐC: @Html.Raw(Model.taiKhoanViewModel.DiaChi)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" style="border-left:dashed 1px;">
            <div class="row" style="padding-left: 20px; ">
                <div>
                    <i class="flaticon-timer">@Html.Raw(Model.tinBDSViewModel.NgayDang)</i>
                    <i class="flaticon-placeholder">@Html.Raw(Model.tinBDSViewModel.QuanHuyen) | @Html.Raw(Model.tinBDSViewModel.TinhThanh)</i>
                </div>
                <div class="room-info">
                    <div>
                        <p>Diện tích: @Html.Raw(Model.tinBDSViewModel.DienTich) m2 | Hướng:@Html.Raw(Model.tinBDSViewModel.Huong) |</p>
                    </div>
                    <div>
                        @if (Html.Raw(Model.tinBDSViewModel.XacThuc).ToString() == "Xác thực")
                        {<p>Bất động sản đã được xác thực</p>}
                        else
                        {<p>Bất động sản chưa được xác thực</p>}
                    </div>
                    <div>
                        <p>@Html.Raw(Model.tinBDSViewModel.LoaiTin) : @Html.Raw(Model.tinBDSViewModel.Gia)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p>@Html.Raw(Model.tinBDSViewModel.TieuDe)</p>
    </div>
    <div class="row">
        <p>@Html.Raw(Model.tinBDSViewModel.MoTa)</p>
    </div>
    <div class="row" style="margin-bottom: 15px;">
        <img id="mainImage" height="700" width="1150" style="border: 1px solid grey;" src="@Model.hinhAnhs.First()">
    </div>
    <div class="row">
        @foreach (var anh in Model.hinhAnhs){
            <div id="divContainer" @*class="col-lg-4"*@ style="margin-right:5px; margin-bottom: 15px;">
                <img src="@anh" @*style="width: 100%; max-width: 300px"*@ class="imgStyle"/>
            </div>}
    </div>
    <!-- The Modal -->
    @*<div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>*@
</div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0&appId=171275584290364&autoLogAppEvents=1"></script>

<div class="fb-comments" data-href="https://localhost:44319/Dm/ChiTietTinBDS/@Model.tinBDSViewModel.ID" data-numposts="10" data-width=""></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#divContainer img").on({
            mouseover: function () {
                $(this).css({
                    'cursor': 'pointer',
                    'border-Color' : 'red'
                });
            },
            mouseout: function () {
                $(this).css({
                    'cursor': 'default',
                    'border-Color': 'grey'
                });
            },
            click: function () {
                var imageUrl = $(this).attr('src');
                $('#mainImage').fadeOut(300, function () {
                    $(this).attr('src', imageUrl);
                }).fadeIn(300);
            }
        });
    });
</script>