@model BatDongSanId.Areas.Client.Models.ListViewModels.ChiTietBDSListViewModel

@{ ViewData["Title"] = "ChiTietTinBDS";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml"; }
@using Microsoft.AspNetCore.Http;
<style>
    .imgStyle {
        height: 100px;
        width: 100px;
        border: 1px solid grey;
    }
    .lienHe{
        font-size: 13pt;
    }
</style>

<div class="container">
    <h4>Thông tin chi tiết</h4>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-5">
                    <img src="@Html.Raw(Model.taiKhoanViewModel.AnhDaiDienUrl)" style="border:1px solid black;width: 100%; max-width: 300px" />
                </div>
                <div class="col-lg-7">
                    <div>
                        <p id="nguoidang" style="font-size: 14pt;">Người đăng : @Html.Raw(Model.taiKhoanViewModel.Ten)</p>
                    </div>
                    <hr />
                    <div id="lienhe">
                        <p style="font-size: 12pt;">SĐT: @Html.Raw(Model.taiKhoanViewModel.SoDienThoai)</p>

                        <p style="font-size: 12pt;">Email: @Html.Raw(Model.taiKhoanViewModel.Email)</p>

                        <p style="font-size: 12pt;">ĐC: @Html.Raw(Model.taiKhoanViewModel.DiaChi)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" style="border-left:1px solid #0094ff;">
            <div class="row" style="padding-left: 20px; ">
                <div class="room-info">
                    <div style="padding-bottom: 10px;">
                        <b class="flaticon-timer">@Html.Raw(Model.tinBDSViewModel.NgayDang)</b>
                        <b class="flaticon-placeholder">@Html.Raw(Model.tinBDSViewModel.QuanHuyen) | @Html.Raw(Model.tinBDSViewModel.TinhThanh)</b>
                    </div>
                    <div style="padding-bottom: 10px;">
                        <b>Diện tích: @Html.Raw(Model.tinBDSViewModel.DienTich) m2 | Hướng: @Html.Raw(Model.tinBDSViewModel.Huong)</b>
                    </div>
                    <div style="padding-bottom: 10px;">
                        <b>Loại bất động sản: @Html.Raw(Model.tinBDSViewModel.LoaiBatDongSan)</b>
                    </div>
                    <div style="padding-bottom: 10px;">
                        <b>Hình thức giao dịch: @Html.Raw(Model.tinBDSViewModel.LoaiTin)</b>
                    </div>
                    <div style="padding-bottom: 10px;">
                        <b>Mức giá: @Html.Raw(Model.tinBDSViewModel.Gia)</b>
                    </div>
                    <div style="padding-bottom: 10px;">
                        @if (Html.Raw(Model.tinBDSViewModel.XacThuc).ToString() == "Xác thực")
                        {<b>Thông tin đã được xác thực</b>}
                        else
                        {<b>Thông tin chưa được xác thực</b>}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="font-size: 13pt;">
            <p>@Html.Raw(Model.tinBDSViewModel.TieuDe)</p>
        </div>
        <div class="row" style="padding: 30px;">
            <p style="font-size: 13pt; text-align:justify;"> &nbsp &nbsp &nbsp @Html.Raw(Model.tinBDSViewModel.MoTa)</p>
        </div>

        <p>Hình ảnh</p>
        <hr />

        <div class="row" style="margin-bottom: 15px;margin-top: 15px;">
            <img id="mainImage" height="700" width="1150" style="border: 1px solid grey;" src="@Model.hinhAnhs.First()">
        </div>
        <div class="row">
            @foreach (var anh in Model.hinhAnhs)
            {
<div id="divContainer" @*class="col-lg-4"*@ style="margin-right:5px; margin-bottom: 15px;">
    <img src="@anh" @*style="width: 100%; max-width: 300px"*@ class="imgStyle" />
</div>}
        </div>
        <!-- The Modal -->
        @*<div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>*@
    </div>
</div>
<div class="row container card" style="margin-top: 30px;">
    <div class="row card-header" style="background-color:#9f0000; color:white;">Tin liên quan</div>
    <div class="row card-body" @*style="padding:0px;"*@>
        @foreach (var tin in Model.tinLienQuan)
        {
<div class="col-md-12">
    <p style="font-size: 12pt;"><a asp-action="ChiTietTinBDS" asp-route-id="@tin.ID">@tin.TieuDe (@tin.LuotXem lượt xem)</a></p>
</div>}
    </div>
</div>
<div class="row" style="margin-top: 30px;">
    <div class="col-lg-6" style="padding:0px;">
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0&appId=171275584290364&autoLogAppEvents=1"></script>

        <div class="fb-comments" data-href="https://localhost:44319/Dm/ChiTietTinBDS/@Model.tinBDSViewModel.ID" data-numposts="10" data-width=""></div>
    </div>
    <div class="col-lg-6" style="padding-left: 150px;">
        <a asp-action="" id="aBaoCao" style="font-size: 13pt;" data="@Context.Session.GetInt32("userID")">Báo cáo tin này</a>
        <form asp-action="" id="baoCao">
            <div class="form-group">
                <textarea class="form-control" id="lyDo" rows="6" placeholder="Viết lý do"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" id="gui" value="Gửi" data="@Model.tinBDSViewModel.ID" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#baoCao").hide();
        //$("#lienhe").hide();

        //$("#nguoidang").mouseover(function () {
        //    $("#lienhe").show('slow');
        //});
        //$("#nguoidang").mouseleave(function () {
        //    $("#lienhe").hide('slow');
        //});

        $("#divContainer img").on({
            mouseover: function () {
                $(this).css({
                    'cursor': 'pointer',
                    'border-Color' : 'red'
                });
            },
            mouseout: function () {
                $(this).css({
                    'cursor': 'default',
                    'border-Color': 'grey'
                });
            },
            click: function () {
                var imageUrl = $(this).attr('src');
                $('#mainImage').fadeOut(300, function () {
                    $(this).attr('src', imageUrl);
                }).fadeIn(300);
            }
        });

        $("#aBaoCao").click(function () {
            if ($("#baoCao").is(':hidden')) {
                $("#baoCao").show("slow");
                return false;
            }
            else {
                $("#baoCao").hide("slow");
                return false;
            }
        });

        $("#gui").click(function () {
            var user = parseInt($("#aBaoCao").attr("data"));
            if (isNaN(user)) {
                alert("Bạn chưa đăng nhập!");
                return false;   
            }
            var tin = $(this).attr("data");
            var lyDo = $("#lyDo").val();
            if (lyDo == "") {
                alert("Vui lòng nhập lý do báo cáo!");
                return false;
            }
            

            //console.log(user, typeof user);
            //console.log(tin);
            //console.log(lyDo);
            //return false;

            $.ajax({
                url: '@Url.Action("BaoCaoTin", "Dm")',
                data: { 'id': tin, 'user': user, 'lyDo': lyDo },
                type: "post",
                async: false,
                success: function (result) {
                    console.log(user, typeof user);
                    alert("Đã gửi báo cáo!");
                }
            });
            return false;
        });
    });
</script>