@model BatDongSan.Models.ViewModels.DangNhapViewModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link rel="stylesheet" href="~/Client/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/style.css" type="text/css">

    <link rel="stylesheet" href="~/Client/css/MyStyle.css" type="text/css">


</head>
<body>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">
                    @*@using (Html.BeginForm("Index", "DangNhap", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.TaiKhoan)
                            @Html.TextBoxFor(m => m.TaiKhoan, "", new { @class = "form-control", @placeholder = "Email" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.MatKhau)
                            @Html.PasswordFor(m => m.MatKhau, new { @class = "form-control", @placeholder = "Mật khẩu" })
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-primary" value="Đăng nhập" />
                        </div>
                        <a asp-action="CreateAccount">Tạo tài khoản</a>
                    }*@

                    <h3>Login Page</h3>
                    @ViewBag.error
                    <form method="post" asp-controller="DangNhap" asp-action="Login">
                        <table border="0" cellpadding="2" cellspacing="2">
                            <tr>
                                <td>Username</td>
                                <td><input type="text" name="username"></td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td><input type="password" name="password"></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td><input type="submit" value="Đăng nhập"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>